body {
    font-family: 'courier';
}

.small_input {
    width: 5em;
}

.form_containter {
    width: 100%;
}

.start_at_container {
    display: inline-block;
    width: 100%;
    height: 75px;
}

.status {
    color: #DDDDDD;
    font-weight: bold;
}

.form_input {
    font-family: Verdana, Genova, Tahoma, sans-serif;
    display: inline-block;
    margin: 5px;
}